/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2018, 1:23:29 PM
    Author     : nkeyapo
*/

body {
  min-height: 2000px;
  padding-top: 70px;
  
}
.error 
{color: red}